@font-face {
    font-family: pixel;
    src: url("mecha.ttf") format('truetype');
}

.center {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0 auto;
    width: 100%;
    position: absolute;
}

.hidden {
    display: none;
}

h2 {
    margin: 0;
}

input, textarea {
    background-color: #38515a;
    border: 2px solid #3d5c66;
    color: #3fa7c0;
    padding-left: 5px;
    font-family: verdana;
    font-size: 10pt;
}

body.homepage {
    background-color: green;
}

body.template-domiverse_homepage_view {
    border: 0;
    margin: 0;
    background-color: #33464d;
    font-family: "pixel", sans-serif;
    color: #3fa7c0;
}

#domiverse-website input[type="text"]:focus, #domiverse-website input[type="password"]:focus, #domiverse-website textarea:focus {
    background-color: #3d5c66;
}

div.main {
    width: 100%;
    height: 100%;
    left: 0;
}

#video-bg {
    width: 1280px;
    height: 720px;
    z-index: -1;
}

#domiverse-video {
    position: absolute;
    width: 1280px;
    height: 720px;
    background-color: #0e2129;
    background-image: url("images/video_background.png");
}

#site-content {
    width: 1280px;
    height: 720px;
    z-index: 1;
}

#section-header {
    top: 0px;
    width: 1280px;
    height: 720px;
}

.banner {
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
}

#banner-0 {
    z-index: -30;
    background-image: url("images/banner_0.png");
}
#banner-1 {
    z-index: -20;
    background-image: url("images/banner_1.png");
}
#banner-2 {
    z-index: -10;
    background-image: url("images/banner_2.png");
}

#section-menu {
    position: absolute;
    top: 720px;
    width: 1280px;
    height: 300px;
    background-image: url("images/section_menu_bg.png");
}

#nav{
    list-style: none;
}

#nav li{
    display: inline;
    margin: 0 0 15px 0;
}

#nav li a{
    color: white;
}

#section-media {
    top: 0px;
    width: 1280px;
    height: 720px;
    background-image: url("images/section_video_bg.png");
}

#section-characters {
    top: 0px;
    width: 1280px;
    height: 300px;
}

#mute-container {
    position: absolute;
    left: 1160px;
    top: 20px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

#social-networks {
    position: absolute;
    left: 98px;
    top: 55px;
    width: 350px;
    height: 90px;
/*    background-image: url("images/social_network_bg.png");*/
/*    background-repeat: no-repeat;*/
}

#social-networks-icons {
    position: absolute;
    left: 20px;
    top: 20px;
}

#social-networks-icons ul {
    display: inline;
    list-style: outside none none;
    padding: 0;
}

#social-networks-icons ul li {
    display: inline-block;
    padding-left: 10px;
}

#social-networks-icons ul li a {
    color: #ddd !important;
    display: block;
    width: 64px;
    height: 62px;
}

#icon-facebook {
    background-image: url("images/icon_facebook.png");
    background-repeat: no-repeat;
}

#icon-facebook:hover {
    background-position: -64px 0;
}

#icon-twitter {
    background-image: url("images/icon_twitter.png");
    background-repeat: no-repeat;
}

#icon-twitter:hover {
    background-position: -64px 0;
}

#icon-youtube {
    background-image: url("images/icon_youtube.png");
    background-repeat: no-repeat;
}

#icon-youtube:hover {
    background-position: -64px 0;
}

#icon-press {
    background-image: url("images/icon_press.png");
    background-repeat: no-repeat;
}

#icon-press:hover {
    background-position: -64px 0;
}

#screenshot-left {
    position: absolute;
    left: 128px;
    top: 190px;
    width: 210px;
    height: 180px;
    background-image: url("images/screenshot_left_bg.png");
    background-repeat: no-repeat;
}

#screenshot-left-content {
    position: absolute;
    left: 23px;
    top:40px;
    //width: 192px;
    //height: 91px;
}

#screenshot-right {
    position: absolute;
    left: 960px;
    top: 190px;
    width: 210px;
    height: 180px;
    background-image: url("images/screenshot_right_bg.png");
    background-repeat: no-repeat;
}

#screenshot-right-content {
    position: absolute;
    left: 23px;
    top:40px;
    width: 192px;
    height: 91px;
}

#game-description {
    position: absolute;
    left: 128px;
    top: 414px;
    width: 330px;
    height: 210px;
    background-image: url("images/game_description_bg.png");
    background-repeat: no-repeat;
}

#game-description-content {
    position: absolute;
    left: 30px;
    top: 40px;
    width: 274px;
    height: 132px;
    font-size: 12pt;
    line-height: 16px;
}

#game-description-content .subtitle {
    font-size: 15pt;
}

#newsletter {
    position: absolute;
    left: 514px;
    top: 510px;
    width: 260px;
    height: 110px;
    background-image: url("images/newsletter_bg.png");
    background-repeat: no-repeat;
}

#newsletter-content {
    position: absolute;
    left: 27px;
    top: 12px;
    width: 274px;
    height: 132px;
    font-size: 12pt;
    line-height: 16px;
}

#newsletter-content .text-input {
    width: 150px;
    height: 22px;
}

#newsletter-content .button-input {
    height: 26px;
    padding-right: 5px;
}

#contact {
    position: absolute;
    left: 832px;
    top: 2414px;
    width: 330px;
    height: 210px;
    background-image: url("images/contact_bg.png");
    background-repeat: no-repeat;
}

#contact-content {
    position: absolute;
    left: 30px;
    top: 15px;
    width: 320px;
    height: 192px;
}

#contact-content .text-input {
    width: 200px;
    margin-bottom: 10px;
    height: 22px;
}

#contact-content .text-area {
    width: 200px;
    height: 77px;
    bottom: 0;
}

#contact-send-button {
    padding: 0;
    margin: 0;
    position: absolute;
    left: 212px;
    bottom: 35px;
}

#contact-send-button input {
    height: 40px;
    padding-right: 5px;
}

#domiverse-website h2 {
    color: #3fa7c0;
    font-family: pixel, sans-serif;
    font-size: 20pt;
}

#mid-platform {
    position: absolute;
    left: 438px;
    top: 298px;
    width: 412px;
    height: 64px;
    background-image: url("images/mid_platform.png");
    background-repeat: no-repeat;
}

#domiverse-logo {
    position: absolute;
    left: 322px;
    top: -18px;
    width: 640px;
    height: 360px;
    background-image: url("images/domiverse_logo.png");
    background-repeat: no-repeat;
    z-index: -10;
}
