@font-face {
    font-family: pixel;
    src: url("mecha.ttf") format('truetype');
}

:root {
    --header-height: 865px;
    --min-width: 1280px;
}

.center {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0 auto;
    width: 100%;
    position: absolute;
}

.hidden {
    display: none;
}

h2 {
    margin: 0;
}

input, textarea {
    background-color: #38515a;
    border: 2px solid #3d5c66;
    color: #3fa7c0;
    padding-left: 5px;
    font-family: verdana;
    font-size: 10pt;
}
body.homepage {
    background-color: rgb(34, 23, 35);
}

body.template-domiverse_homepage_view {
    border: 0;
    margin: 0;
    background-color: #33464d;
    font-family: "pixel", sans-serif;
    color: #3fa7c0;
}

#domiverse-website input[type="text"]:focus, #domiverse-website input[type="password"]:focus, #domiverse-website textarea:focus {
    background-color: #3d5c66;
}

div.main {
    width: 100%;
    height: 100%;
    left: 0;
}

#video-bg {
    width: 1280px;
    height: 720px;
    z-index: -1;
}

#domiverse-video {
    position: absolute;
    width: 1280px;
    height: 720px;
    background-color: #0e2129;
    background-image: url("images/video_background.png");
}

#site-content {
    width: 100%;
    height: 100%;
    z-index: 1;
    min-width: var(--min-width);
}


/* BANNER */

#section-header {
    top: 0px;
    width: 100%;
    height: var(--header-height);
}

#section-header-faces {
    bottom: 0px;
    width: var(--min-width);
    height: 456px;
    margin: 0 auto;
    position: relative;
}

.banner {
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 100%;
    height: var(--header-height);
}

#banner-0 {
    z-index: -30;
    background-image: url("images/banner_0.png");
}
#banner-1 {
    z-index: -20;
    background-image: url("images/banner_1.png");
}
#banner-2 {
    z-index: -10;
    background-image: url("images/banner_2.png");
}

    /* HIDDEN CHARACTERS BUTTONS */

.faces-link {
    position: absolute;
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0);
}

#nili-link      { left: 47px; top: 606px; width: 123px; height: 255px; }
#ash-link       { left: 172px; top: 726px; width: 168px; height: 135px; }
#wat-link       { left: 219px; top: 464px; width: 122px; height: 256px; }
#glo-link       { left: 346px; top: 524px; width: 190px; height: 246px; }
#snakity-link   { left: 742px; top: 434px; width: 198px; height: 216px; }
#uzal-link      { left: 909px; top: 667px; width: 158px; height: 196px; }
#shluuuups-link { left: 997px; top: 416px; width: 88px; height: 248px; }
#xand-link      { left: 1088px; top: 633px; width: 132px; height: 230px; }


/* MENU */

#section-menu {
    position: absolute;
    top: var(--header-height);
    width: 100%;
    height: 168px;
    background-image: url("images/menu_bg.png");
    background-repeat: no-repeat;
    background-position: center;
    z-index: 100;
}

#section-menu-inside {
    top: 0px;
    width: var(--min-width);
    height: 100%;
    margin: 0 auto;
    position: relative;
}

#section-dummy-menu {
    width: 100%;
    height: 168px;
}

    /* SOCIAL NETWORK */

#social-networks {
    position: absolute;
    left: 29px;
    top: 16px;
    width: 350px;
    height: 90px;
}

#social-networks-icons {
    position: absolute;
}

#social-networks-icons ul {
    display: inline;
    list-style: outside none none;
    padding: 0;
}

#social-networks-icons ul li {
    display: inline-block;
    padding-right: 3px;
}

#social-networks-icons ul li a {
    color: #ddd !important;
    display: block;
    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
}

#icon-facebook       { background-image: url("images/menu_fb_grey.png"); }
#icon-facebook:hover { background-image: url("images/menu_fb.png"); }
#icon-twitter        { background-image: url("images/menu_twitter_grey.png"); }
#icon-twitter:hover  { background-image: url("images/menu_twitter.png"); }
#icon-youtube        { background-image: url("images/menu_youtube_grey.png"); }
#icon-youtube:hover  { background-image: url("images/menu_youtube.png"); }
#icon-press          { background-image: url("images/menu_presskit_grey.png"); }
#icon-press:hover    { background-image: url("images/menu_presskit.png"); }
#icon-mail           { background-image: url("images/menu_mail_grey.png"); }
#icon-mail:hover     { background-image: url("images/menu_mail.png"); }
#icon-tumblr         { background-image: url("images/menu_tumblr_grey.png"); }
#icon-tumblr:hover   { background-image: url("images/menu_tumblr.png"); }

    /* MENU TEXTE */

#menu-principal {
    position: absolute;
    left: 343px;
    top: 16px;
    width: 800px;
    height: 90px;
}

#menu-principal-icons {
    position: absolute;
}

#menu-principal-icons ul {
    display: inline;
    list-style: outside none none;
    padding: 0;
}

#menu-principal-icons ul li {
    display: inline-block;
    padding-right: 13px;
}

#menu-principal-icons ul li a {
    color: #ddd !important;
    display: block;
    height: 36px;
    background-repeat: no-repeat;
}
#icon-media          { width: 129px; background-image: url("images/menu_principal_media_out.png"); }
#icon-media:hover    { width: 129px; background-image: url("images/menu_principal_media_in.png"); }
#icon-fighters       { width: 187px; background-image: url("images/menu_principal_fighters_out.png"); }
#icon-fighters:hover { width: 187px; background-image: url("images/menu_principal_fighters_in.png"); }
#icon-comics         { width: 154px; background-image: url("images/menu_principal_comics_out.png"); }
#icon-comics:hover   { width: 154px; background-image: url("images/menu_principal_comics_in.png"); }
#icon-shop           { width: 104px; background-image: url("images/menu_principal_shop_out.png"); }
#icon-shop:hover     { width: 104px; background-image: url("images/menu_principal_shop_in.png"); }

    /* DEMO */

#demo {
    position: absolute;
    left: 104px;
    top: 63px;
    width: 195px;
    height: 47px;
}
#demo a {
    color: #ddd !important;
    display: block;
    height: 47px;
    background-repeat: no-repeat;
    background-image: url("images/menu_demo.png");
}

    /* GREENLIGHT */

#greenlight {
    position: absolute;
    left: 1009px;
    top: 16px;
    width: 235px;
    height: 124px;
}
#greenlight a {
    color: #ddd !important;
    display: block;
    height: 124px;
    background-repeat: no-repeat;
    background-image: url("images/menu_greenlight.png");
}


/* MEDIA SECTION */

#section-media {
    width: 100%;
    height: 800px;
    background-image: url("images/section_video_bg.png");
    background-repeat: no-repeat;
    background-position: center;
}

#section-media-inside {
    top: 0px;
    width: var(--min-width);
    height: 100%;
    margin: 0 auto;
    position: relative;
}

#media-tabs ul{
    list-style: none;
    margin: 0;
}

#media-tabs li{
    display: inline;
    margin: 0 0 15px 0;
}

#media-tabs li a{
    color: white;
}


/* FIGHTERS SECTION */

#section-fighters {
    width: 100%;
    height: 300px;
    background-color: rgb(0, 0, 0);
}

#section-fighters-inside {
    top: 0px;
    width: var(--min-width);
    height: 100%;
    margin: 0 auto;
    position: relative;
}

#fighters-tabs ul{
    list-style: none;
    margin: 0;
}

#fighters-tabs li{
    display: inline;
    margin: 0;
}

#fighters-tabs li a{
    color: white;
}


#game-description {
    position: absolute;
    left: 128px;
    top: 2414px;
    width: 330px;
    height: 210px;
    background-image: url("images/game_description_bg.png");
    background-repeat: no-repeat;
}

#game-description-content {
    position: absolute;
    left: 30px;
    top: 40px;
    width: 274px;
    height: 132px;
    font-size: 12pt;
    line-height: 16px;
}

#game-description-content .subtitle {
    font-size: 15pt;
}

#newsletter {
    position: absolute;
    left: 514px;
    top: 2510px;
    width: 260px;
    height: 110px;
    background-image: url("images/newsletter_bg.png");
    background-repeat: no-repeat;
}

#newsletter-content {
    position: absolute;
    left: 27px;
    top: 12px;
    width: 274px;
    height: 132px;
    font-size: 12pt;
    line-height: 16px;
}

#newsletter-content .text-input {
    width: 150px;
    height: 22px;
}

#newsletter-content .button-input {
    height: 26px;
    padding-right: 5px;
}

#contact {
    position: absolute;
    left: 832px;
    top: 2414px;
    width: 330px;
    height: 210px;
    background-image: url("images/contact_bg.png");
    background-repeat: no-repeat;
}

#contact-content {
    position: absolute;
    left: 30px;
    top: 15px;
    width: 320px;
    height: 192px;
}

#contact-content .text-input {
    width: 200px;
    margin-bottom: 10px;
    height: 22px;
}

#contact-content .text-area {
    width: 200px;
    height: 77px;
    bottom: 0;
}

#contact-send-button {
    padding: 0;
    margin: 0;
    position: absolute;
    left: 212px;
    bottom: 35px;
}

#contact-send-button input {
    height: 40px;
    padding-right: 5px;
}

#domiverse-website h2 {
    color: #3fa7c0;
    font-family: pixel, sans-serif;
    font-size: 20pt;
}