@font-face {
    font-family: pixel;
    src: url("https://domiverse.be/++theme++hauntedtie.skin/domiverse/pixel.ttf") format("truetype"),
         url("https://www.domiverse.be/++theme++hauntedtie.skin/domiverse/pixel.ttf") format("truetype"),
         url("https://hauntedtie.be/++theme++hauntedtie.skin/domiverse/pixel.ttf") format("truetype"),
         url("https://www.hauntedtie.be/++theme++hauntedtie.skin/domiverse/pixel.ttf") format("truetype"),
         url("https://hauntedtie.com/++theme++hauntedtie.skin/domiverse/pixel.ttf") format("truetype"),
         url("https://www.hauntedtie.com/++theme++hauntedtie.skin/domiverse/pixel.ttf") format("truetype"),
         url("pixel.ttf") format("truetype");
}

* li {
    display: list-item;
}

/* LANGUAGE */

.en, .fr,
.en-inline, .fr-inline{ display:none; }

.en:lang(en), .fr:lang(fr) { display:block; }
.en-inline:lang(en), .fr-inline:lang(fr) { display:inline; }

/* END LANGUAGE */

#domiverse-website input {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
            font-family: "pixel", sans-serif;
}

.center {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0 auto;
    width: 100%;
    position: absolute;
}

.hidden {
    display: none;
}

h2 {
    margin: 0;
}

a {
    outline: 0;
}

body {
    background-color: white;
    font-size: 20px;
}

#domiverse-website {
    font-family: "pixel", sans-serif;
}

body.template-domiverse_homepage_view {
    border: 0;
    margin: 0;
    background-color: #33464d;
    color: #3fa7c0;
}

#domiverse-website input[type="text"]:focus, #domiverse-website input[type="password"]:focus, #domiverse-website textarea:focus {
    //background-color: #3d5c66;
}

div.main {
    width: 100%;
    height: 100%;
    left: 0;
}

#video-bg {
    width: 960px;
    height: 540px;
    z-index: -1;
}

#domiverse-video {
    position: absolute;
    width: 960px;
    height: 540px;
    background-color: #0e2129;
    background-image: url("images/video_background.png");
}

#site-content {
    width: 100%;
    height: 100%;
    z-index: 1;
    min-width: 1280px;
}


/* BANNER */

#section-header {
    top: 0px;
    width: 100%;
    height: 754px;
}

#section-header-faces {
    bottom: 0px;
    width: 1280px;
    height: 456px;
    margin: 0 auto;
    position: relative;
}

#section-header-hover {
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 754px;
}

.banner {
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 754px;
    z-index: 100;
}

#banner-0 {
    z-index: -30;
    background-image: url("images/domiverse_banner_0.jpg");
}
#banner-1 {
    z-index: -20;
    background-image: url("images/domiverse_banner_1.png");
}
#banner-2 {
    z-index: -10;
    background-image: url("images/domiverse_banner_2.png");
}

    /* HIDDEN CHARACTERS BUTTONS */

.faces-link {
    position: absolute;
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0);
}

#nili-link      { z-index: 8; left: 25px; top: 474px; width: 189px; height: 280px; }
#nili-link:hover ~ #section-header-hover { background-image: url("images/domiverse_banner_Nili.png"); }

#ash-link       { z-index: 7; left: 108px; top: 591px; width: 239px; height: 163px; }
#ash-link:hover ~ #section-header-hover { background-image: url("images/domiverse_banner_Ash.png"); }

#wat-link       { z-index: 6; left: 213px; top: 353px; width: 131px; height: 299px; }
#wat-link:hover ~ #section-header-hover { background-image: url("images/domiverse_banner_W8T.png"); }

#glo-link       { z-index: 5; left: 346px; top: 416px; width: 190px; height: 288px; }
#glo-link:hover ~ #section-header-hover { background-image: url("images/domiverse_banner_Glo.png"); }

#snakity-link   { z-index: 4; left: 731px; top: 313px; width: 214px; height: 283px; }
#snakity-link:hover ~ #section-header-hover { background-image: url("images/domiverse_banner_Snakity.png"); }

#uzal-link      { z-index: 2; left: 877px; top: 538px; width: 264px; height: 216px; }
#uzal-link:hover ~ #section-header-hover { background-image: url("images/domiverse_banner_Uzal.png"); }

#shluuuups-link { z-index: 1; left: 987px; top: 307px; width: 96px; height: 287px; }
#shluuuups-link:hover ~ #section-header-hover { background-image: url("images/domiverse_banner_Shluuuups.png"); }

#xand-link      { z-index: 3; left: 1056px; top: 523px; width: 204px; height: 231px; }
#xand-link:hover ~ #section-header-hover { background-image: url("images/domiverse_banner_Xand.png"); }


/* MENU */

#section-menu {
    position: absolute;
    top: 754px;
    width: 100%;
    height: 126px;
    background-image: url("images/menu_bg.png");
    background-repeat: no-repeat;
    background-position: center;
    z-index: 100;
}

#section-menu-inside {
    top: 0px;
    width: 1280px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

#section-dummy-menu {
    width: 100%;
    height: 126px;
}

    /* SOCIAL NETWORK */

#social-networks {
    position: absolute;
    left: 29px;
    top: 16px;
    width: 350px;
    height: 90px;
}

#social-networks-icons {
    position: absolute;
}

#social-networks-icons div {
    position: absolute;
    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
}

#social-networks-icons div a{
    display: block;
    color: #ddd !important;
    width: 36px;
    height: 36px;
}

#icon-facebook       { left: 0px; background-image: url("images/menu_fb_grey.png"); }
#icon-facebook:hover { background-image: url("images/menu_fb.png"); }
#icon-twitter        { left: 44px; background-image: url("images/menu_twitter_grey.png"); }
#icon-twitter:hover  { background-image: url("images/menu_twitter.png"); }
#icon-youtube        { left: 88px; background-image: url("images/menu_youtube_grey.png"); }
#icon-youtube:hover  { background-image: url("images/menu_youtube.png"); }
#icon-press          { left: 132px; background-image: url("images/menu_presskit_grey.png"); }
#icon-press:hover    { background-image: url("images/menu_presskit.png"); }
#icon-mail           { left: 176px; background-image: url("images/menu_mail_grey.png"); }
#icon-mail:hover     { background-image: url("images/menu_mail.png"); }
#icon-tumblr         { left: 220px; background-image: url("images/menu_tumblr_grey.png"); }
#icon-tumblr:hover   { background-image: url("images/menu_tumblr.png"); }

#icon-backtotop {
    right: 50px;
    bottom: 50px;
    position: fixed;
    background-image: url("images/back_to_top.png");
    width: 64px;
    height: 66px;
    z-index: 1000;
    display: none;
}
#icon-backtotop a {
    width: 64px;
    height: 66px;
    display: block;
}
    /* MENU TEXTE */

#menu-principal {
    position: absolute;
    left: 343px;
    top: 16px;
    width: 800px;
    height: 90px;
}

#menu-principal-icons {
    position: absolute;
}

#menu-principal-icons div {
    position: absolute;
    height: 36px;
    background-repeat: no-repeat;
}

#menu-principal-icons div a {
    display: block;
    color: #ddd !important;
    height: 36px;
}

#icon-media          { width: 129px; left: 0px; background-image: url("images/menu_principal_media_out.png"); }
#icon-media:hover    { width: 129px; background-image: url("images/menu_principal_media_in.png"); }
#icon-fighters       { width: 187px; left: 147px; background-image: url("images/menu_principal_fighters_out.png"); }
#icon-fighters:hover { width: 187px; background-image: url("images/menu_principal_fighters_in.png"); }
#icon-comics         { width: 154px; left: 352px; background-image: url("images/menu_principal_comics_out.png"); }
#icon-comics:hover   { width: 154px; background-image: url("images/menu_principal_comics_in.png"); }
#icon-shop           { width: 104px; left: 524px; background-image: url("images/menu_principal_shop_out.png"); }
#icon-shop:hover     { width: 104px; background-image: url("images/menu_principal_shop_in.png"); }

    /* DEMO */

#demo {
    position: absolute;
    left: 104px;
    top: 63px;
    width: 195px;
    height: 47px;
}
#demo a {
    color: #ddd !important;
    display: block;
    height: 47px;
    background-repeat: no-repeat;
    background-image: url("images/menu_demo.png");
}
#demo a:hover {
    background-position: 0 -47px;
    color: #ddd !important;
    display: block;
    height: 47px;
    background-repeat: no-repeat;
    background-image: url("images/menu_demo.png");
}

    /* GREENLIGHT */

#greenlight {
    position: absolute;
    left: 1009px;
    top: 16px;
    width: 235px;
    height: 92px;
}
#greenlight a {
    color: #ddd !important;
    display: block;
    height: 92px;
    background-repeat: no-repeat;
    background-image: url("images/domiverse_steam_greenlight_out.png");
}
#greenlight a:hover {
    background-image: url("images/domiverse_steam_greenlight_in.png");
}


    /* CHOOSE LANGUAGE */

#icon-language {
    position: absolute;
    left: 1176px;
    top: 129px;
    width: 235px;
    height: 92px;
}
#icon-language a {
    color: white;
}

/* MEDIA SECTION */

#section-media {
    width: 100%;
    height: 820px;
    background-color: rgb(34, 23, 35);
}

#section-media-inside {
    top: 32px;
    width: 960px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

#section-media-screenshots {
    top: 27px;
    position: relative;
    width: 960px;
}

#section-media-screenshots ul{
    padding: 0;
    margin: 0;
    font-size: 0;
}
#section-media-screenshots li{
    display: inline;
    margin: 0 5px 0 0;
    width: 236px;
}

/* FIGHTERS SECTION */

#section-fighters {
    width: 100%;
    height: 820px;
    background-color: rgb(55, 32, 67);
    color: white;
}

#section-fighters-inside {
    top: 32px;
    width: 960px;
    height: 728px;
    margin: 0 auto;
    position: relative;
    background-image: url("images/characters_background.png");
}

#fighters-tabs-faces {
    padding-top: 6px;
    padding-left: 6px;
}

#fighters-tabs-faces li{
    display: inline;
    margin: 0 8px 0 0;
}

ul#fighters-tabs-faces {
    list-style: none;
    margin: 0;
    font-size: 0;
}

#fighters-tabs-faces li div {
    display: inline-block;
    width: 60px;
    height: 58px;
    cursor: pointer;
}

#fighters-tabs-faces li div:hover,
#fighters-tabs-faces li.ui-tabs-active div{
    background-position: -60px;
}

#fighters-tabs-faces li div.nili { background-image: url("images/characters_nili_face.png"); }
#fighters-tabs-faces li div.glo { background-image: url("images/characters_glo_face.png"); }
#fighters-tabs-faces li div.ash { background-image: url("images/characters_ash_face.png"); }
#fighters-tabs-faces li div.xand { background-image: url("images/characters_xand_face.png"); }
#fighters-tabs-faces li div.shluuuups { background-image: url("images/characters_shluuuups_face.png"); }
#fighters-tabs-faces li div.wat { background-image: url("images/characters_w8t_face.png"); }
#fighters-tabs-faces li div.snakity { background-image: url("images/characters_snakity_face.png"); }
#fighters-tabs-faces li div.uzal { background-image: url("images/characters_uzal_face.png"); }
#fighters-tabs-faces li div.patator { background-image: url("images/characters_patator_face.png"); }
#fighters-tabs-faces li div.block { background-image: url("images/characters_block_face.png"); }

#section-fighters .name {
    position: absolute;
    top: 110px;
    left: 50px;
    font-size: 40px;
}

#section-fighters .idle {
    position: absolute;
    top: 174px;
    left: 140px;
}

#section-fighters .description {
    position: absolute;
    top: 383px;
    left: 21px;
    font-size: 20px;
    width: 921px;
}

#section-fighters .plus_title {
    position: absolute;
    top: 480px;
    left: 35px;
    width: 100px;
    color: rgb(91, 187, 127);
}

#section-fighters .plus_description {
    position: absolute;
    top: 514px;
    left: 30px;
    width: 437px;
    color: rgb(91, 187, 127);
}

#section-fighters .plus_description ul {
    list-style-type: square;
}

#section-fighters .minus_title {
    position: absolute;
    top: 480px;
    left: 516px;
    width: 100px;
    color: rgb(181, 59, 42);
}

#section-fighters .minus_description {
    position: absolute;
    top: 514px;
    left: 511px;
    width: 437px;
    color: rgb(181, 59, 42);
}

#section-fighters .minus_description ul {
    list-style-type: square;
}

#section-fighters .video {
    position: absolute;
    top: 104px;
    left: 476px;
}

#section-fighters .video.empty {
    background-image: url("images/snow_screen.gif");
    width: 480px;
    height: 270px;
}

/* COMICS SECTION */

#section-comics {
    width: 100%;
    height: 820px;
    background-color: rgb(76, 41, 100);
    color: white;
}

#section-comics-inside {
    top: 59px;
    width: 960px;
    height: 728px;
    margin: 0 auto;
    position: relative;
}

#section-comics-main {
    top: 0;
    position: absolute;
    width: 496px;
    height: 702px;
}

#section-comics-small {
    position: absolute;
    left: 507px;
    width: 223px;
    top: 0;
    height: 316px;
}

#section-comics-small .other{
    position: absolute;
    left: 0;
    width: 453px;
    font-size: 40px;
    text-align: center;
}

#section-comics-small #prev{
    position: absolute;
    left: 20px;
    width: 32px;
    height: 28px;
    background-image: url("images/comics_arrow_left.png");
    cursor: pointer;
    top: 12px;
}

#section-comics-small #next{
    position: absolute;
    left: 421px;
    width: 32px;
    height: 28px;
    background-image: url("images/comics_arrow_right.png");
    cursor: pointer;
    top: 12px;
}

#section-comics-small .covers{
    position: absolute;
    top: 63px;
}

#section-comics-small .cover{
    position: absolute;
    width: 223px;
    height: 316px;
}

#section-comics-small .cover1{
    left: 0;
    top: 0;
}
#section-comics-small .cover2{
    left: 230px;
    top: 0;
}
#section-comics-small .cover3{
    left: 0;
    top: 323px;
}
#section-comics-small .cover4{
    left: 230px;
    top: 323px;
}

#covers-groups > div{
    display: none;
}
#covers-groups > div.current{
    display: block;
}


/* SHOP SECTION */

#section-shop {
    width: 100%;
    height: 300px;
    background-color: rgb(99, 45, 130);
    //background-color: rgb(123, 49, 161);
    color: white;
}

#section-shop-inside {
    top: 59px;
    width: 960px;
    height: 230px;
    margin: 0 auto;
    position: relative;
}

#section-shop-itchio {
    text-align: center;
    width: 100%;
}


/* CREDITS SECTION */

#section-credits {
    width: 100%;
    //height: 820px;
    background-color: rgb(0, 0, 0);
    color: white;
}

#section-credits-inside {
    padding-top: 59px;
    padding-bottom: 59px;
    width: 960px;
    //height: 728px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

#newsletter input {
    border: 2px solid #00657F;
    background-color: black;
    color: white;
    margin-top: 10px;
    font-size: 20px;
}

#newsletter input[type=text] {
    height: 30px;
    width: 330px;
    padding: 0 6px 2px 6px;
}
#newsletter input[type=submit] {
    height: 36px;
    padding: 0 6px 2px 6px;
}
